/*Theme Name: hamoostheme*/

html {

	font-family: sans-serif;

	font-size: 30px;

}



.back-shadow {

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	z-index: 1042;

	overflow: hidden;

	position: fixed;

	background: rgba(0, 0, 0, 0.8);

}



.pop-up-content {

	padding-top: 30px;

}



.pop-up-content img {

	width: 40%;

	margin-left: 30%;

	max-width: 100%;

	position: relative;

	display: inline-block;

	vertical-align: middle;

	text-align: left;

	z-index: 1045

}



.img-closed {

	padding: 3px;

	margin-left: -36px;

	max-width: 100%;

	position: absolute;

	display: inline-block;

	vertical-align: middle;

	text-align: left;

	z-index: 1046;

	cursor: pointer;

}



.img-closed img {

	width: 30px;

	float: right;

}



.top-nav {

	background: rgba(0, 0, 0, 0.7);

	position: absolute;

	top: 0px;

	left: 0px;

	width: 100%;

	padding: 0px;

}



.header-top-menu {

	background-color: #ffffff;

	padding-top: 10px;

	padding-bottom: 10px;

}



.header-bottom-menu {

	margin-top: 10px;

}



.header-top-menu-item {

	color: darkslategray;

	border-right: 1px solid darkslategray;

	font-size: 12px;

	padding: 4px 15px;

	border-radius: 0px;

}



.nav > li > .header-top-menu-item:hover {

	color: lightslategray;

}



.nav-pills > li > a {

	border-radius: 0px;

}



.nav > li > a {

	padding: 4px 15px;

}



.header-bottom-menu-item {

	color: #fff;

	font-size: 12px;

}



/*.active{*//*border-bottom: 2px solid #fff;*//*}*/

.header-bottom-menu-item:hover {

	background-color: transparent;

}



#header-bottom-menu .navbar-nav > li:hover {

	border-bottom: 2px solid #fff;

}



.nav > li > a:hover, .nav > li > a:focus {

	background-color: transparent;

	color: #778899;

}



.footer-menu-item:hover, .footer-menu-item:focus {

	background-color: transparent;

	color: #ffffff !important;

	text-decoration: underline !important;

}



.my-nav {

	margin-bottom: 0px;

}



.navbar-nav > li > a {

	line-height: 40px;

}



.back-slider {

	position: relative;

}



.slide-img {

	width: 100%;

}



.navbar-collapse {

	padding: 0px;

}



.greeting {

	width: 100%;

	color: #fff;

	font-size: 48px;

	position: absolute;

	top: 160px;

	left: 0px;

}



.email {

	font-size: 20px;

}



.search {

	padding: 26px;

	border-radius: 0px;

	border: 0px;

	font-size: 18px;

}



.search:hover {

	border-bottom: 3px solid #2A82E5;

}



.search-addon {

	padding-left: 30px;

	padding-right: 30px;

	border-radius: 0px;

	border: 0px;

	font-size: 14px;

	color: #fff;

	background-color: #2A82E5;

}



.smo-item {

	width: 48px;

	height: 48px;

	background-image: url(./img/sprites2.png);

	background-repeat: no-repeat;

	cursor: pointer;

	transition: background .3s;

	display: inline-block;

	float: left;

	margin-top: 6px;

	margin-right: 3px;

}



.facebook {

	background-position: 0 0;

}



.facebook:hover {

	background-position: 0 -50px;

}



.google {

	background-position: -50px 0px;

}



.google:hover {

	background-position: -50px -50px;

}



.twitter {

	background-position: -100px 0px;

}



.twitter:hover {

	background-position: -100px -50px;

}



.mail {

	background-position: -300px 0;

}



.mail:hover {

	background-position: -300px -50px;

}



.youtube {

	background-position: -200px 0;

}



.youtube:hover {

	background-position: -200px -50px;

}



.share {

	font-size: 14px;

}



.smo {

	padding-left: 0px;

}



.scroll-bottom {

	width: 50px;

	height: 50px;

	background: url(./img/sprites.png) 0 -100px no-repeat;

	margin: 0 auto;

	display: block;

	float: none;

	margin: 0 auto;

	text-align: center;

	z-index: 99;

	position: relative;

	left: 0;

	right: 0;

	bottom: 70px;

}



.sri-lanka-tours {

	background-color: rgba(0, 0, 0, 0.8);

	z-index: 3;

	padding-bottom: 20px;

	position: absolute;

	top: 107px;

	display: none;

	left: 0px;

	right: 0px;

	margin-left: 40px;

	margin-right: 20px;

}



.tour-item-sri {

	height: 250px;

	position: relative;

	overflow: hidden;

	padding: 15px;

	text-align: center;

}



.tour-link {

	overflow: hidden;

	position: relative;

	width: 100%;

	height: 220px;

	float: left;

	padding: 0;

}



.img-item {

	position: absolute;

	width: auto;

	height: 220px;

	left: -7.5px;

	top: 0px;

}



.mask-sri {

	width: 80%;

	height: 80px;

	float: none;

	margin: 0 auto;

	display: inline-table;

	position: absolute;

	left: 0;

	right: 0;

	bottom: 25px;

	text-align: center;

	text-transform: uppercase;

	font-family: robotoRegular, Arial;

	color: #fff;

	font-size: 15px;

	line-height: 17px;

}



.mask-inner {

	display: table-cell;

	vertical-align: middle;

	padding: 0 15px;

}



.tour-item-main {

	width: 100%;

	height: 100%;

	float: left;

	padding: 15px;

	background: #2c2c2c;

}



.tour-item-title {

	width: 100%;

	height: auto;

	float: left;

	text-align: center;

}



.tour-item-title span {

	width: 100%;

	height: auto;

	float: left;

	margin: 0;

	padding: 0;

	font-size: 26px;

	text-transform: uppercase;

	text-align: center;

	line-height: 26px;

	color: #fff;

}



.tour-item-title span.lg {

	font-size: 46px;

	line-height: 46px;

}



.tour-item-main a.readmore {

	width: 100%;

	height: auto;

	float: left;

	background: #2a82e5;

	font-family: robotoRegular, Arial;

	color: #fff;

	text-transform: uppercase;

	font-size: 15px;

	padding: 10px 0;

	text-align: center;

	margin-top: 75px;

}



.home-intro h1 {

	font-size: 25px;

	text-transform: uppercase;

	color: #666;

	padding: 40px 0;

	margin: 0;

	line-height: 25px;

}



.home-desc {

	text-align: justify;

	line-height: 26px;

	font-size: 17px;

}



.btn-readmore {

	background-color: #2a82e5;

	border-radius: 0 !important;

	text-transform: uppercase;

	margin-top: 76px;

}



.why-book-title {

	font-size: 25px;

	text-transform: uppercase;

	color: #666;

	padding: 40px 0;

	line-height: 25px;

}



.why-book-list {

	padding: 0;

}



.why-book-list ul {

	width: 100%;

	height: auto;

	float: left;

	padding: 0;

}



/*.why-book-list ul li:first-child {*/ /*margin-top: 0;*//*}*/

.why-book-list div { /*width: 100%;*/

	height: auto;

	float: left;

	text-transform: uppercase;

	font-size: 13px;

	list-style: none;

	text-align: left;

	font-family: latoRegular, Arial; /*background: url(./img/sprites.png) -264px -113px no-repeat;*/

	padding-left: 35px;

	line-height: 21px;

	font-weight: bold;

}



.why-book-list div img {

	width: 20%;

	margin-left: 40%;

	margin-right: 40%;

	margin-bottom: 20px;

}



.why-book-btns {

	padding: 0;

}



.why-book-btns ul {

	width: 100%;

	height: auto;

	float: left;

	padding: 0;

}



.why-book-btns ul li:first-child {

	margin-top: 0;

}



.why-book-btns ul li:nth-child(odd) {

	background-color: #2a82e5;

}



.why-book-btns ul li {

	width: 100%;

	height: 48px;

	float: left;

	list-style: none;

	margin-top: 2px;

	background-image: url(./img/why-book-but.png);

	background-repeat: no-repeat;

	background-position: 100% 50%;

}



.why-book-btns ul li a {

	width: 100%;

	height: 48px;

	display: table-cell;

	vertical-align: middle;

	text-transform: uppercase;

	color: #fff;

	font-size: 15px;

	padding: 0 15px;

}



.why-book-btns ul li:nth-child(even) {

	background-color: grey;

}



.tour-collection {

	margin-top: 45px;

	height: auto;

	overflow: hidden;

}



.tour-col {

	padding: 0;

}



.casino-col {

	padding: 0;

}



.tour-item .first {

	overflow: hidden;

}



.tour-item {

	padding: 0;

	height: auto;

	float: left;

	position: relative;

	overflow: hidden;

}



.tour-col .tour-item img {

	width: 100%;

	height: auto;

	float: left;

	-webkit-transition: all .5s ease-in;

	-moz-transition: all .5s ease-in;

	-o-transition: all .5s ease-in;

	-ms-transition: all .5s ease-in;

	transition: all .5s ease-in;

}



.casino-col .tour-item img {

	width: 100%;

	height: auto;

	float: left;

	-webkit-transition: all .5s ease-in;

	-moz-transition: all .5s ease-in;

	-o-transition: all .5s ease-in;

	-ms-transition: all .5s ease-in;

	transition: all .5s ease-in;

}



.tour-item .mask {

	position: absolute;

	bottom: 0;

	left: 0;

	width: auto;

	height: auto;

	background: rgba(51, 51, 51, .6);

	margin: 0px;

}



.tour-item .mask a {

	width: auto;

	height: auto;

	float: left;

	color: #fff;

	text-transform: uppercase;

	font-size: 14px;

	line-height: 14px;

	padding: 20px 40px 20px 15px;

	text-decoration: none;

	background: url("./img/more-arrow.png") 93% 50% no-repeat;

}



.tour-item-lg {

	height: 659px;

	padding: 0;

	float: left;

	position: relative;

	overflow: hidden;

}



.tour-item-lg img:hover {

	opacity: .8;

}



.tour-item-lg img {

	width: 100%;

	height: 100%;

	float: left;

	-webkit-transition: all .5s ease-in;

	-moz-transition: all .5s ease-in;

	-o-transition: all .5s ease-in;

	-ms-transition: all .5s ease-in;

	transition: all .5s ease-in;

}



.tour-item-lg .mask {

	position: absolute;

	bottom: 0;

	left: 0;

	width: 100%;

	height: auto;

	background: rgba(51, 51, 51, .6);

	text-align: left;

	text-transform: uppercase;

	color: #fff;

	font-size: 20px;

	line-height: 53px;

	padding: 0 15px;

}



.tour-item-lg .mask a {

	width: auto;

	height: auto;

	float: right;

	color: #fff;

	text-transform: uppercase;

	font-size: 14px;

	line-height: 14px;

	padding: 20px 40px 20px 15px;

	text-decoration: none;

	background: url(./img/more-arrow.png) 93% 50% no-repeat;

}



.highlights {

	margin: 60px 0;

	background: url(./img/highlights-bg.jpg) center bottom no-repeat #faf8f4;

	padding: 40px 0;

}



.highlight-btn-wrap {

	height: auto;

	float: left;

	position: relative;

}



.highlight-title {

	width: 100%;

	height: auto;

	float: left;

	text-transform: uppercase;

	font-size: 46px;

	line-height: 46px;

	padding-top: 30px;

	padding-bottom: 30px;

	color: #474747;

	font-family: latoBold, Arial;

	word-wrap: break-word;

}



.highlight-title span {

	width: 100%;

	height: auto;

	float: left;

	text-transform: uppercase;

	font-size: 22px;

	line-height: 22px;

	color: #666;

}



.highlight-det {

	width: 100%;

	height: auto;

	float: left;

	font-size: 14px;

	color: grey;

	text-align: justify;

}



.highlights-cat {

	padding-left: 0;

}



.highlights-cat-item {

	padding-left: 0;

	padding-right: 0;

	height: 552px;

	position: relative;

	overflow: hidden;

}



.highlights-cat-item img {

	width: 100%;

	height: 552px;

	float: left;

}



.highlights-cat-item-det {

	width: 0;

	height: 552px;

	position: absolute;

	top: 0;

	left: 0;

	background-color: rgba(42, 130, 229, .7);

	-webkit-transition: width 1s;

	transition: width 1s;

	color: #fff;

}



.highlights-cat-item-title {

	position: absolute;

	top: 30px;

	left: 30px;

	font-size: 20px;

	text-transform: uppercase;

	color: #fff;

}



.highlights-cat-item-desc {

	width: auto;

	height: auto;

	float: left;

	text-align: left;

	font-size: 14px;

	color: #fff;

	-webkit-transition: all .5s ease-in;

	-moz-transition: all .5s ease-in;

	-o-transition: all .5s ease-in;

	-ms-transition: all .5s ease-in;

	transition: all .5s ease-in;

	opacity: 0;

	padding: 0 30px;

	position: absolute;

	top: 100px;

	display: block;

}



.desc-inner {

	border-top: 1px solid #fff;

	padding-top: 20px;

}



.highlights-cat-item a.findout {

	width: auto;

	height: auto;

	position: absolute;

	left: 0;

	bottom: 50px;

	color: #fff;

	-webkit-transition: all .5s ease-in;

	-moz-transition: all .5s ease-in;

	-o-transition: all .5s ease-in;

	-ms-transition: all .5s ease-in;

	transition: all .5s ease-in;

	opacity: 0;

	padding: 0 35px 0 30px;

	font-size: 20px;

	font-family: latoBold, Arial;

	text-transform: uppercase;

	line-height: 20px;

	background: url(./img/more-arrow.png) 100% 50% no-repeat;

}



.highlight-btns {

	width: 310px;

	height: auto;

	position: absolute;

	bottom: 90px;

	left: 15px;

	padding: 0;

}



.highlight-btns a {

	width: 80%;

	min-height: 90px;

	float: left;

	padding: 12px 20px;

	background-color: grey;

	margin: 1.5px 0;

}



.btns-title {

	width: 100%;

	height: auto;

	float: left;

	text-transform: uppercase;

	color: #fff;

	font-size: 20px;

	background: url(./img/more-arrow.png) 100% 50% no-repeat;

}



.btns-title-sub {

	width: 80%;

	height: auto;

	float: left;

	font-size: 10px;

	clear: both;

	line-height: 17px;

}



.pay-online {

	width: 110px;

	height: 25px;

	float: left;

	background: url(./img/sprites.png) -189px -303px no-repeat;

	margin: 4.5px 0;

}



.highlight-btns a:hover {

	background-color: #2a82e5;

}



.footer {

	background-color: #828F97;

	padding-top: 10px;

	padding-bottom: 10px;

}



.footer-menu {

	padding-bottom: 30px;

}



.footer-menu-item {

	color: whitesmoke;

	font-size: 11px;

}



.footer-title {

	color: whitesmoke;

	line-height: 60px;

}



.contact-description {

	color: whitesmoke;

}



.copyright {

	color: whitesmoke;

	font-size: 10px;

}



.footer-smo { /*padding-left: 20%;*/

	padding-right: 0px;

	text-align: center;



}

.footer-smo>.smo-item{

	float: none!important;

	margin-left: -4px;

}

.footer-smo>.mail{

	margin-left: -4px;

}



.footer-follow {

	padding-left: 0px;

	padding-right: 0px;

}



.casino-desc {

	margin-top: 100px;

	font-size: 18px;

}



.first-casino-desc {

	margin-top: 50px;

}



.video {

	margin-top: 40px;

	position: relative;

	margin-bottom: 0px;

	padding-bottom: 370px;

}



.video iframe {

	position: absolute;

	width: 100%;

	height: 100%;

}



.services-desc {

	font-size: 16px;

	margin-top: 20px;

}



.img-ballys {

	margin-left: 43%;

	width: 14%;

	margin-top: 20px;

	max-width: 150px;

	min-width: 100px;

}



.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {

	background-color: transparent;

	border: none;

}



.dropdown-header-menu {

	background: rgba(0, 0, 0, 0.7);

}



.dropdown-header-menu > li > a {

	color: #fff;

}



.weather-time {

	margin-top: 20px;

}



.highlighter-wild-tours {

	margin-left: 0;

!important;

}



.best-offer-hotel {

	background-color: #FEDC00;

	font-weight: bold;

	font-size: 30px;

	padding-top: 18px;

	padding-bottom: 18px;

	margin-bottom: 30px;

}



.best-offer-hotel p {

	margin-bottom: 0px;

}



.all-hotels-btn {

	border-radius: 0px;

	font-size: 18px;

	color: #000000;

	border: 3px solid #000000;

	text-transform: uppercase;

	background-color: #FEDC00;;

}



.all-hotels-btn img {

	width: 24px;

	margin-left: 10px;

}



.inquire-tab { /*margin-left: 15px;*/ /*margin-right: 50px;*/

	padding-top: 0px;

	padding-bottom: 15px;

	background: rgba(0, 0, 0, 0.45); /*margin-top: -90px;*/

}



.my-tab {

	border-radius: 0px !important;

	font-size: 18px;

	background-color: rgba(0, 0, 0, 0.8);

	color: white;

	text-align: center;

	text-transform: uppercase;

}



.nav-tabs-my {

	border: none;

	margin-bottom: 25px;

	margin-left: 15px;

	padding-right: 5px;

}



.nav-tabs-my > li {

	width: 33%;

}



.nav-tabs > li.active > a {

	background-color: yellow !important;

}



.form-group-my {

	margin-bottom: 0px;

	height: 40px;

	padding-right: 5px;

	padding-left: 5px;

}



.drop-type {

	font-size: 14px;

	text-align: center;

}



.drop-type label {

	font-weight: normal;

}



.drop-type label input {

	margin-left: 20px;

}



.btn-inquire {

	border-radius: 0px;

	margin-top: 15px;

}



.time, .mins, .meridian {

	margin: 0 !important;

	width: 50px !important;

}



.timepicker_wrap {

	width: 126px !important;

}



.hotline {

	font-size: 20px;

	color: white;

	background-color: transparent;

	padding: 8px;

	border-radius: 20px;

	margin-top: 10px;

}



.logo img {

	background-color: rgba(255, 255, 255, 0.3);

}



.hotline img {

	width: 30px;

	margin-right: 10px;

}



main .pagination {

	display: flex;

	justify-content: center;

}



.pagination .page-numbers {

	margin-right: 12px;

	font-size: 20px;

}



.pagination .page-numbers:first-child {

	margin-right: 12px;

}



.pagination .next, .pagination .prev {

	cursor: pointer;

	padding: 0px;

	width: auto;

	border: none;

	margin: 0px;

	background: inherit;

	border-radius: 5px;

}



.thumbnail {

	align-items: center;

}



.casino-contact-info {

	padding-top: 100px;

	padding-bottom: 111px;

}



.other-input {

	display: none;

}



.timepicker_wrap {

	min-width: 126px !important;

}



.videocas {
	padding-left: 68px;
}

.iframe-video {
	width: 93%;
	height: 338px;
}

.sponsors-img {
	height: 70px;
	margin: 0 auto;
	border-radius: 4px;
	margin-right: 8px;
	margin-bottom: 7px;
	display: inline-block;
}

.sponsors-logo {
	margin-top: -70px;
	margin-bottom: 20px;
}

.sponsors-logo div {
	padding: 0px;
}

.sponsors-logo div:first-of-type .sponsors-img {
	float: right;
}

.sponsors-logo div:last-of-type .sponsors-img {
	float: left;
}

#wpcf7-f326-p327-o1 .fb-submit-row {
	margin-top: 0px;
}

#wpcf7-f326-p327-o1 .wpcf7-textarea {
	height: 92px;
}

input.timepicki-input {
	padding: 4px !important;
}

.wpcf7-textarea {
	min-height: 100px !important;
}

#wpcf7-f213-p173-o1 .fb-submit-row, #wpcf7-f211-p135-o1 .fb-submit-row {
	margin-top: 33px !important;
}

.dfb-form-group label {
	margin-bottom: 0px;
}

.single-post .form-wrap .row {
	padding: 0 15px;
}

.hotels-ad-ch {
	border: 1px solid #b6b6b6;
	height: 46px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 12px !important;
	padding-top: 8px !important;
}

#hotelsadults111 {
	border: none !important;
}

.remcashottr {
	min-height: 140px;
}

#wpcf7-f215-o1 .ppbtn {
	width: 127px;
	float: right;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
	display: block;
	height: 40px;
	background: yellow;
	padding: 0 15px;
	color: #555;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

.icons {
	height: 20px;
}

.casino-icons-contacts {
	font-size: 12px;
}

.contact-casino-managers {
	background-color: rgb(230, 230, 230);
	padding: 15px;
}

.newsletter {
	width: auto;
	float: left;
	padding: 20px 0 25px 2px;
}

.newsletter input[type=email] {
	min-width: 275px;
	width: auto;
	height: auto;
	float: left;
	padding: 15px;
	background: transparent;
	border: 2px solid #fff;
	border-right: 0;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	border-radius: 0px;
}

.newsletter input[type=email]:focus {
	outline: none;
}

.newsletter input[type=email]::-webkit-input-placeholder {
	color: #fff;
}

.newsletter input[type=email]::-moz-placeholder {
	color: #fff;
}

/* Firefox 19+ */
.newsletter input[type=email]:-moz-placeholder {
	color: #fff;
}

/* Firefox 18- */
.newsletter input[type=email]:-ms-input-placeholder {
	color: #fff;
}

.newsletter input[type=button] {
	width: auto;
	height: auto;
	float: left;
	background: #fff;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	color: grey;
	font-size: 12px;
	line-height: 12px;
	padding: 18px 30px;
	border-radius: 0px;
}

.newsletter input[type=button]:active, .newsletter input[type=button]:hover {
	background-color: #E6E6E6;
}

.wysija-input::-webkit-input-placeholder {color:#fff;}
.wysija-input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.wysija-input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.wysija-input:-ms-input-placeholder      {color:#fff;}



.wysija-paragraph{
	float:left;}
.wysija-paragraph>label{
	display:none!important;}
.wysija-input{
	min-width: 275px;
	width: auto;
	height: auto;
	float: left;
	padding: 15px;
	background: transparent;
	border: 2px solid #fff!important;
	border-right: 0!important;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	border-radius: 0px!important;
}
.wysija-input:focus{
	outline: none;
}
.widget_wysija_cont .wysija-submit{
	margin-top: 0!important;
	width: auto;
	height: auto;
	float: left;
	background: #fff;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	color: grey;
	font-size: 12px;
	line-height: 12px;
	padding: 18px 30px;
	border-radius: 0px;
}
.widget_wysija_cont .wysija-submit:hover, .widget_wysija_cont .wysija-submit:active{
	background-color: #E6E6E6;
}
.paneldata .inputholder{
	padding: 0px!important;
}
.people-1.form-control{
	border-radius: 0px!important;
}
.t2-wrap-item-highlighter{
	margin-right: 15px;
}
.price-field {
	display: flex;
	height: 35px;
	width: auto;
	text-align: center;
	background-color: #666;
	color: white;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 15px;
	margin-right: 15px;
}

/* .body-content > p{
	margin-left:-15px;
} */

.buy-btn, .formBtn {
	background-color: #0b8dbf;
	width: 170px;
	height:35px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border:none;
	outline: none;
	margin-right: 15px;
}

.buy-btn:hover{
	color: #fff;
}
.formBtn:hover{
	background-color: #1f4c47;
}

.buy-btn:before{
	content:"";
	background:#0a6f96;
	height: 100%;
	width:0%;
	position: absolute;
	top:0;
	left:0;
	transition:0.8s ease;
	z-index:0;
}
.buy-btn:hover.buy-btn:before{
	width:100%;
	transition:0.4s ease;
}
.buy-btn span{
	position: absolute;
	z-index: 5;
	/* top: 12px; */
	left: 0;
	text-align: center;
	width: inherit;
	transition-delay:0.7s;
}
.buy-btn:hover span{
	font-size: 15.8px;
	top:10.8px;
	transition-delay:0.4s;
}
.payment-card{
	height: 35px;
	margin-top: 20px;
	margin-right: 15px;
	/* border-top: 1px solid #0b8dbf;
  border-bottom: 1px solid #0b8dbf; */
}
/* .payment-card:last-child{
	border-right: 1px solid #0b8dbf;
} */

.dark-back-popup{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	padding:6% 8%;
}
.popup-tour{
	background-color: #ebf5f4;
	border-radius: 10px;
	padding:2% 4%;
	box-sizing: border-box;
}
.col-xs-12.pg-container-inner.popup-tour {
	overflow-y: auto !important;
}
@media(max-width: 480px) {
	/* .dark-back-popup{
		overflow: hidden !important;
	} */
	.dark-back-popup .body-content{
		height: 76%;
		overflow-x: hidden;
	}
	.popup-tour{
		max-height: 94vh;
		overflow: hidden;
	}
}
.close-popup{
	position:absolute;
	top:30px;
	right:50px;
	font-size: 24px;
	cursor:pointer;
	width:40px;
	text-align: center;
	z-index: 99999;
}
.form-wrap{
	margin-top:15px;
}
.dfb-form-group{
	min-height:60px;
	height:60px;
}
.resize.popup.wdpu-msg.move.wdev-window.ui-draggable{
	width:auto !important;
	top:20px !important;
	left:0 !important;
	margin:auto;
	height:auto !important;
}
.resize.popup.wdpu-msg.move.wdev-window.ui-draggable .wdpu-msg-inner.resize{
	width:100% !important;
	height:auto !important;
}
.resize.popup.wdpu-msg.move.wdev-window.ui-draggable .wdpu-msg-inner.resize .wdpu-text{
	padding:20px 20px 25px;
}
.resize.popup.wdpu-msg.move.wdev-window.ui-draggable .wdpu-msg-inner.resize img{
	width:100% !important;
	height:auto !important;
}
.fb-submit-row .g-recaptcha{
	margin-bottom: 10px;
}

/* popup Thanks */
#popup-thanks-tour{
	background-color: #ebf5f4;
	border-radius: 10px;
	height: 220px;
	width: 70%;
	margin: 30vh auto;
	padding: 20px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}
@media(max-width:550px){
	.resize.popup.wdpu-msg.move.wdev-window.ui-draggable{
		width:90% !important;
		height:auto !important;
	}
	.resize.popup.wdpu-msg.move.wdev-window.ui-draggable .wdpu-msg-inner.resize{
		height: auto !important;
	}
	.resize.popup.wdpu-msg.move.wdev-window.ui-draggable .wdpu-msg-inner.resize img{
		width: 100% !important;
		height: auto !important;
	}
}


.dfb-form-group input[type=number] {
	border-color: #b6b6b6;
	height: 46px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 15px;
}
.dark-back-popup{
	overflow-y: auto;
}

/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
.flex-between {
	display: flex;
	justify-content: space-between;
}

.close-popup {
	background-color: #ff4141;
	color: #fff;
	position: relative;
	top: 0;
	right: 0;
	width: 170px;
	padding: 10px 0;
	height: 43px;
	font-size: 16px;
	text-transform: uppercase;
}

.dfb-form-group input[type=number] {
	border-color: #b6b6b6;
	height: 46px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 15px;
}

.dfb-form-group.min-h {
	min-height: 15px;
}

.dark-back-popup {
	overflow-y: auto;
	padding: 0;
}

.dark-back-popup article {
	width: 880px;
	margin: 4% auto;
}
@media (max-width: 990px) {
	.t2-wrap-item-img img{
		object-fit: cover;
		max-width: 100% !important;
	}
}
@media (max-width: 900px) {
	.dark-back-popup article {
		width: 92%;
	}
}

span.wpcf7-not-valid-tip {
	position: absolute;
	z-index: 5;
	right: 0;
	top: -32px;
}

.popup-tour {
	padding: 2% 4% !important;
}

.popup-tour h1 {
	margin-bottom: 24px;
}

.wpcf7-form-control-wrap.your-phone:before {
	content: '';
	background: #ffffff;
	width: 35px;
	height: 40px;
	position: absolute;
	display: block;
	top: 3px;
	left: 80%;
	z-index: 5;
}

.wpcf7-form-control-wrap {
	width: inherit;
	display: block;
}

.form-wrap {
	margin-top: 0;
}

.dfb-form-group input[type=text],
.dfb-form-group input[type=email], .dfb-form-group select {
	height: 35px;
}

input[type=tel] {
	border-color: #b6b6b6;
	height: 35px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 15px;
	border-radius: 0;
}

.buy-btn {
	width: 120px;
	margin-left: 0;
	/* padding: 20px 0; */
}

.wpcf7-form-control.wpcf7-submit.btn-primary {
	background-color: #3f998e;
}
.wpcf7-form-control.wpcf7-submit.btn-primary:disabled {
	background-color: #306359;
}

.wpcf7-form-control.wpcf7-submit.btn-primary {
	margin-top: 0 !important;
	margin-left: 0 !important;
}

.fb-submit-row {
	/*margin-top: -50px;*/
}

@media only screen and (max-width: 990px) {
	.close-popup {
		top: 2px;
	}

	.fb-submit-row {
		margin-top: 0;
	}
}

.wpcf7-form-control-wrap.your-phone:before {
	display: none;
}

.background-invoice{
	background-repeat: no-repeat;
	background-size: cover;
}
.pageheader{
	background-color: transparent!important;
}

@media (max-width: 340px) {
	.container-fluid-hidden-scroll {
		overflow-x: hidden;
	}
}

.block-with-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.block-img{
        width: 50%;
    padding: 0 20px;
}