.itinerary-item {
  padding: 30px 15px;
  height: auto;
  font-size: 14px;
  margin-bottom: 40px;
  /*background: url(images/theme-bg-l.png) left top #f5f5f5;*/
}
.itinerary-day {
  width: 25%;
  height: 50px;
  font-size: 20px;
  font-family: latoRegular, Arial;
  color: #fff;
  background: #3f998e;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0;
}
.itinerary-title {
  width: 75%;
  height: 50px;
  padding: 15px;
  font-size: 15px;
  text-align: right;
  font-family: latoRegular, Arial;
  color: #fff;
  background: #666;
}
.itinerary-desc {
  padding: 40px 15px 40px 0;
  font-family: latoRegular, Arial;
  font-size: 14px;
  text-align: justify;
}
.itinerary-features {
  padding: 40px 0 40px 15px;
  font-family: latoRegular, Arial;
  font-size: 14px;
  width: 88%;
}
.itinerary-features ul {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
  padding: 0;
}
.itinerary-features ul li:first-child {
  border-top: none;
  padding-top: 0;
  background-position: 0 5px;
}
.itinerary-features ul li {
  width: 100%;
  height: auto;
  float: left;
  font-size: 14px;
  font-weight: 600;
  font-family: latoRegular, Arial;
  padding-bottom: 11px;
  /*background: url(../new-img/arrow-rgt.png) left 20px no-repeat;*/
}
.itinerary-item-img img {
  width: 100%;
  height: auto;
  float: left;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.itinerary-item-img img:hover {
  opacity: 0.8;
}
.t2-wrap-item-highlighter {
  margin-left: 30px;
}
