@media only screen and (max-width : 425px) {
    /*.pg-container .pg-container-inner {*/
    /*z-index:-1;*/
    /*}*/
    .formError .formErrorContent {
        margin-top: 60px;
        margin-left: -138px;
    }
    .wysija-input {
    border-right:  2px solid #fff !important;
}
    .body-content>ul{
        padding: 0px;
    }
    .sponsors-logo{
        margin-top: 30px;
    }
    .peoplewrap{
        width: 274px;
        left: 0;
    }
    .peoplewrap .prow .item {
        width: 100%;
    }
    .inputholder .ppbtn{
        width: 86px;
    }
    .addaroom{
        line-height: 20px!important;
    }
    .weather-time{
        padding-left: 25%;
    }
    .form-wrap .btn-primary{
        margin-left: 20%;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .form-wrap .btn-default{
        margin-left: 30%;
        text-align: center;
    }

    .video{
        padding-left: 0px;
        margin-top: 70px;
        margin-bottom: 20px;
        padding-bottom: 57%;
    }
    .scroll-bottom {
        display: none;
    }
    .header-top-menu-item {
        border: none;
        font-size: 11.5px;
    }
    .navbar-collapse.in{
        position: absolute;
        top: 0;
        width: 287px;
    }
    .navbar-toggle {
        border-color: #FFFFFF;
    }
    .navbar-toggle .icon-bar {
        background-color: #FFFFFF;
    }
    .greeting {
        position: inherit;
        padding-bottom: 30px;
        background-color: #9999CC;
        min-height: 600px;
    }
    .email{
        display: none;
    }
    .smo{
        display: none;
    }
    .welcome {
        display: none;
    }
    .inquire-tab{
       background-color: transparent;
        padding-top: 5px;
        margin: 0px;
    }
    .best-offer-hotel {
        text-align: center;
        margin-top: 30px;
    }
    .nav-tabs-my>li{
        width: 100%;
    }
    .form-group-my{
        margin-bottom: 15px;
    }
    .form-date{
        margin-bottom: 0;
    }
    .search {
    }
    .input-group {
        position: inherit;
    }
    .input-group .form-control {
        position: inherit;
    }
    .smo {
        position: inherit;
    }
    .navbar-nav {
        background-color: gray;
    }
    .navbar-nav > li > a {
        text-align: center;
    }
    .tour-item-lg {
        height: 100%;
    }
    .tour-item-lg .mask {
        font-size: 16px;
    }
    .highlights-cat-item-title {
        font-size: 24px;
        left: 13px;
    }
    .highlight-btns {
        position: inherit;
        margin: 0 auto;
        bottom: -10px;
    }
    .home-intro{
        position: inherit;
    }
    .mask-sri {
        width: 50%;
        right: 120px;
    }

    .t2-wrap-item-desc{
        display: none;
    }
    .t2-desc-about{
        display: block;
    }
    .header-bottom-menu {
        margin-top: -8px;
        z-index: 999;
    }
    .nav > li > a {
        color: #ffffff;
        padding: 4px 6px;
    }
    .tour-col {
        margin-bottom: 20px;
    }
    .btn-readmore {
        margin-top: 15px;
    }
    .pg-container .pg-container-inner h1{
        text-align: center;
    }
    .tour-collection {
        margin-top: 0px;
    }
    .tour-collection h1{
        font-size: 22px;
    }

    .home-intro h1 {
        font-size: 20px;
        text-align: center;
    }
    .desc-inner {
        padding-top: 7px;
    }
    .highlights-cat-item-desc {
        font-size: 12px;
        padding: 0 13px;
        top: 54px;
    }

    .highlight-det {
        font-size: 16px;
        text-align: left;
    }
    .highlight-title {
        font-size: 42px;
    }
    .t2-wrap-item-rgt {
        padding-left: 0;
        padding-right: 0;
    }
    .t2-wrap-item-rgt {
        width: 100%;
        height: auto;
    }
    .t2-wrap-item {
        width: 100%;
    }
    .t2-img-arrow {
        display: none!important;
    }
    .t2-wrap-item-title {
        text-align: center;
    }
    .t2-wrap-item-highlighter {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0px;
    }
    .t2-most-pop{
        margin-left: 10px;
    }
    .t2-most-pop-title {
        margin-bottom: 0!important;
    }

    .t2-wrap-item-link {
        width: 100%;
        margin-top: 20px;
    }

    .t2-wrap-item-img {
        width: 100%;
        height: 300px;
    }
    .t2-wrap-item-img img{
        width: 100%;
        height: auto;
    }
    .t2-wrap-item-link {
        position: static;
        float: left;
        margin-bottom: 25px;
    }
    .t2-wrap-item-link a {
        width: 100%;
        margin-top: 0;
        padding: 15px 45px 15px 15px;
    }

    .gal-cat-mobile-drop.fold {
        background: url(../resources/newfiles/new-img/select-bg.png) 95% 50% no-repeat;
    }
    .gal-cat-mobile-drop.expand {
        background: url(../resources/newfiles/new-img/select-bg-expand.png) 95% 50% no-repeat;
    }
    .gal-cat-mobile-drop:hover {
        cursor: pointer;
    }
    .gal-cat-mobile-drop {
        display: block;
        width: 100%;
        height: 58px;
        float: left;
        border: 1px solid #dbdbdb;
        text-transform: uppercase;
        font-family: latoRegular,Arial;
        font-size: 14px;
        line-height: 14px;
        padding: 22px 15px;
    }
    .gal-cat-wrap {
        display: none;
    }
    .gal-cat-item:first-child {
        margin-left: 1px;
    }
    .gal-cat-item {
        width: 100%;
        margin: 0 0 1px;
    }
    .body-content {
        margin-top: 30px;
    }
    .gal-item {
        width: 100%;
        height: 170px;
        margin: 1px 0;
    }
    .gal-item-default span {
        width: 80%;
        height: 60%;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .gal-item-group .gal-item {
        z-index: -1;
        width: 100%;
        height: 170px;
        margin: 1px 0;
    }
    .contact-description {
        text-align: center;
    }
    .footer-smo {
        /*padding-left: 15%;*/
        display: block;
    }

    .copyright {
        margin-top: 10px;
    }
    .navbar-toggle {
        top: -110px;
        right: -18px;
    }
    .top-nav {
        background: none;
    }
    .header-top-menu {
        padding-left: 0px;
        background: rgba(0,0,0,0.4);
    }
    .highlights-cat-item img {
        width: 100%;
        height: auto;
        float: left;
        margin: -200px 0px -252px 0px;
    }
    .highlights-cat-item {
        padding-left: 0;
        padding-right: 0;
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .highlights-cat-item-desc {
        display: none;
    }
    .services-desc{
        display: block;
    }
    .t2-wrap {
        /*z-index: -1;*/
    }
    .img-ballys {
        margin-left: 33%;
    }
    .find-out-more{
        position: inherit;
    }
    #google_language_translator{
        display: none;
    }
    .hotline{
        display: none;
    }
    .iframe-video{
        width: 290px;
        height: 200px;
    }
    .videocas {
        padding-left: 15px;
    }
    .contact-casino-title{
        text-align: center;
    }
    .itinerary-day {
        width: 100%;
        height: auto;
    }
    .itinerary-title {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .transport-mobile{
        margin-top: -76px;
    }
}



@media only screen and  (max-width : 768px) and (min-width: 426px){
    .logo{
        margin-bottom: 10px;
    }
    .sponsors-logo{
        margin-top:20px;
    }
    .form-wrap{
        margin-bottom: 0px;
    }

    .highlight-title{
        text-align: center;
    }
    .casino-img{
        margin: 0 auto;
    }
    .header-top-menu{
        height: 105px;
    }
    .header-bottom-menu-item {
        font-size: 11px;
    }
    .tour-item-lg{
        height: 370px;
    }
    .greeting {
        font-size: 30px;
        top: 13%;
    }
    .inquire-tab{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .best-offer-hotel{
        text-align: center;

    }
    .scroll-bottom {
        display: none;
    }
    .search {
        padding: 22px;
    }
    .input-group{
        width: 100%;
    }
    .tour-item-lg {
        height: 369px;
    }
    .tour-item-lg .mask {
        font-size: 14px;
    }
    .highlight-btns {
        position: inherit;
        margin: 0 auto;
        bottom: -10px;
    }
    .highlights-cat-item-title {
        font-size: 15px;
    }
    .t2-wrap-item-img {
        width: 100%;
        /*height: auto;*/
    }
    .t2-wrap-item-img img {
        width: 100%!important;
        /*height: auto!important;*/
        left: 0px;
    }
    .t2-img-arrow {
        display: none!important;
    }
    .t2-wrap-item-rgt {
        width: 100%;
        height: 360px;
    }
    .t2-wrap-item-link {
        position: static;
        float: left;
        width: auto;
        margin-bottom: 25px;
    }
    .t2-most-pop-title {
        margin-bottom: 0px;
    }
    .t2-most-pop {
        padding: 12px!important;
    }
    .greeting {
        font-size: 30px;
        top: 13%;
    }
    .greeting {
        margin-top: 0 ;
        height: 545px;
        background-color: #0D2748;
        position: inherit;
        padding-top: 20px;
        margin-bottom: 60px;

    }
    .header-bottom-menu{
        padding-right: 13%;
    }
    .videocas {
        padding-left: 64px;
    }
    .contact-casino-title{
        text-align: center;
    }
    .form-wrap .btn-primary{
        margin-top: 45px;
        padding-left: 45px;
    }
    .body-content{
        margin-bottom: 0px;

    }
    .contact-us-title h1{
        text-align: center;

    }
    .gal-cat-item:first-child {
        margin-left: 1px;
    }
    .gal-cat-item {
        width: 33.1%;
    }
    .gal-cat-item {
        margin-bottom: 1px;
    }
    .gal-item {
        height: 130px;
        width: 24.7%;
    }
    .gal-item-default span {
        font-size: 25px;
        line-height: 20px;
    }
    .gal-item img {
        height: 130px;!important;
    }
    .footer-smo {
        /*padding-left: 36%;*/
    }
    .contact-description {
        text-align: center;
    }
    .copyright {
        margin-top: 10px;
    }
    .highlights-cat-item img {
        width: 100%;
        height: auto;
        float: left;
        margin: -153px 0px -66px 0px;
    }
    .highlights-cat-item {
        padding-left: 0;
        padding-right: 0;
         height: auto;
        position: relative;
        overflow: hidden;
    }
    .highlights-cat-item-desc {
        display: none;
    }
    .video{
        padding-bottom: 415px;
        padding-left: 0px;
    }
    .services-item{
        height: 360px;
    }
    .weather-time {
        padding-left: 40%;
        padding-right: 20%;
    }

    .why-book-list div img {
        float: left;
        width: 7%;
        margin-left: 50px;
        margin-right: 30px;

    }
    .why-book-list >div> p{
        float: left;
        margin-top: 10px;
        font-size: 18px;
    }
    .t2-wrap-item-highlighter{
        margin-left: 0px;
    }
    #wpcf7-f326-p327-o1 .fb-submit-row{
        margin-left: 250px;
    }


}
@media only screen and  (max-width : 1024px) and (min-width: 769px){
    .greeting{
    font-size: 40px;
    }
}

