.pg-container {
    width: 100%;
    padding: 15px 0 0;
}
.pg-container #mobile-search-viewer {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 20px;
}
.pg-container .mobile-search-viewer-nomargin {
    margin-bottom: 0!important;
}
.pg-container .pg-container-inner {
    padding: 20px 0 0;
}
.pg-container-inner h1 {
    z-index: -1;
    color: #181818;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 0 35px;
}
.body-content {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.body-content p {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.pg-container-inner .t2-wrap {
    background: #efefef;
    margin-top: 40px;
}
.pg-container-inner .t2-wrap .t2-wrap-item {
    padding: 15px;
}
.pg-container-inner .t2-wrap .t2-wrap-item .t2-wrap-item-inner-wrap {
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
}
.t2-wrap-item-inner-wrap .t2-wrap-item-img {
    height: 400px;
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
}
.t2-wrap-item-img img {
    width: auto;
    height: 400px;
    float: left;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.t2-img-arrow {
    width: 21px;
    height: 57px;
    margin: auto;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    display: block;
    background: url(../img/t2-img-arrow.png) 50% 50% no-repeat;
}
.t2-wrap-item-rgt {
    position: relative;
}
.t2-wrap-item-title {
    text-transform: uppercase;
    color: #181818;
    font-size: 20px;
    line-height: 20px;
    padding-top: 30px;
}
.t2-desc-default {
    margin-top: 20px;
}
.t2-wrap-item-desc {
    height: auto;
    color: #666;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
}