.pg-container {
    width: 100%;
    padding: 15px 0 0;
}
.pg-container #mobile-search-viewer {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 0px;
}
.pg-container .mobile-search-viewer-nomargin {
    margin-bottom: 0!important;
}
.pg-container .pg-container-inner {
    padding: 0px;
}
.body-content {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.body-content p {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.form-wrap {
    font-size: 14px;
}
.form-wrap {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
}
.dfb-form-group {
    height: 90px;
}
.dfb-form-group {
    margin-bottom: 0;
    min-height: 85px;
}
.dfb-form-group label {
    color: #181818;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.dfb-form-group label span.text-danger {
    color: #181818;
}
input {
    border-radius: 0;
}
.dfb-form-group input[type=text]{
    border-color: #b6b6b6;
    height: 46px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 6px 15px;
}
input[type=text], input[type=email], select, textarea {
    border-radius: 0!important;
    border: 1px solid #ccc;
}
.form-control-feedback {
    line-height: 34px;
    top: 0;
    display: none!important;
}
.dfb-form-group small.help-block {
    width: 100%;
    height: auto;
    float: left;
}

.dfb-form small {
    margin: 5px 0;
}
.dfb-form-group input[type=email] {
    border-color: #b6b6b6;
    height: 46px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 6px 15px;
}
.dfb-form-group input[type=text] {
    border-color: #b6b6b6;
    height: 46px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 6px 15px;
}
.dfb-form-group select,.dfb-form-group textarea {
    border-color: #b6b6b6;
    height: 46px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 6px 15px;
}
/*.dfb-form-group .chosen-container {*/
    /*border: 1px solid #b6b6b6;*/
    /*height: 46px;*/
/*}*/
/*.chosen-container {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*font-size: 12px;*/
    /*zoom: 1;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
    /*width: 100%;*/
/*}*/
/*a, div, img, li, ul {*/
    /*outline: 0!important;*/
/*}*/
/*.chosen-container .chosen-single {*/
    /*padding: 0;*/
    /*height: 44px;*/
    /*font-size: 14px;*/
    /*text-transform: capitalize;*/
/*}*/
/*.chosen-container-single .chosen-single {*/
    /*width: 8px;*/
    /*height: 5px;*/
    /*float: left;*/
    /*outline: 0;*/
    /*background: url(../new-img/select-bg.png) 95% 50% no-repeat #fff;*/
    /*font-family: Roboto,sans-serif;*/
    /*font-weight: 400;*/
    /*font-size: 11px;*/
    /*text-transform: uppercase;*/
    /*cursor: pointer;*/
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    /*text-indent: .01px;*/
    /*padding-top: 5px;*/
    /*text-overflow: '';*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*-o-appearance: none;*/
    /*appearance: none;*/
    /*position: relative;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-decoration: none;*/
    /*white-space: nowrap;*/
/*}*/
/*.chosen-single span {*/
    /*width: 100%;*/
    /*height: 44px;*/
    /*float: left;*/
    /*margin: 0;*/
    /*padding: 14px 15px;*/
/*}*/
/*.chosen-single span {*/
    /*color: #605c5a!important;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*margin-right: 26px;*/
    /*line-height: 16px;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
/*}*/
/*.chosen-single div {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*width: 18px;*/
    /*height: 100%;*/
/*}*/
/*.chosen-single div b {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.chosen-drop {*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: -9999px;*/
    /*z-index: 1010;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*border-top: 0;*/
    /*background: #d1d0d0;*/
    /*color: #363636;*/
    /*font-family: Roboto,sans-serif;*/
    /*font-weight: 400;*/
    /*font-size: 11px;*/
/*}*/
/*.chosen-container-single .chosen-drop {*/
    /*margin-top: -1px;*/
    /*background-clip: padding-box;*/
/*}*/
/*.chosen-search {*/
    /*position: relative;*/
    /*z-index: 1010;*/
    /*margin: 0;*/
    /*padding: 3px 4px;*/
    /*white-space: nowrap;*/
/*}*/
/*.chosen-search input[type=text] {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*margin: 1px 0;*/
    /*padding: 4px 20px 4px 5px;*/
    /*width: 100%!important;*/
    /*height: auto;*/
    /*outline: 0;*/
    /*color: #414141;*/
    /*font-size: 1em;*/
    /*font-family: sans-serif;*/
    /*line-height: normal;*/
    /*border-radius: 0;*/
    /*border: none;*/
/*}*/
/*.chosen-results {*/
    /*width: 100%;*/
    /*float: left;*/
    /*position: relative;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*margin: 0 4px 4px 0;*/
    /*padding: 0 0 0 4px;*/
    /*max-height: 240px;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/
/*.chosen-container .chosen-results li {*/
    /*font-size: 14px;*/
/*}*/
.msg-status-row {
    margin-top: 15px;
}
.msg-status-row .alert {
    margin-bottom: 0;
    display: none;
}
.pg-container .alert {
    border-radius: 0;
}
.fb-submit-row {
    margin: 15px 0;
}
.form-wrap .btn-primary {
    width: auto;
    height: auto;
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    border: 0;
    background-color: #5a869b;
    padding: 10px 45px 10px 15px;
}
.form-wrap .btn-default {
    width: auto;
    height: auto;
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    border: 0;
    background-color: #666;
    padding: 10px 45px 10px 15px;
    margin-left: 15px;
}
.contact-map-wrap {
    padding: 40px 15px 0;
}
.contact-map-wrap .contact-map-top {
    padding: 30px;
    background: #3f998e;
    color: #77f4e4;
}
.contact-map-top .contact-map-top-lft {
    padding: 0;
}
.contact-map-top-lft .map-title {
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    font-size: 25px;
    font-family: latoLight;
}
.map-desc {
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
}
.map-desc span {
    color: #fff!important;
}
.contact-map-top-rgt {
    padding: 0;
}
.contact-map-top-rgt ul {
    width: auto;
    height: auto;
    float: right;
    margin: 0;
    padding: 0;
}
ul {
    outline: 0!important;
}
.contact-map-top-rgt ul li.tel {
    color: #fff;
}
.contact-map-top-rgt ul li:first-child {
    border-top: 0;
    padding-top: 0;
}
.contact-map-top-rgt ul li {
    min-width: 250px;
    height: auto;
    float: left;
    list-style: none;
    padding: 10px 0;
    clear: both;
    border-top: 1px solid #77f4e4;
}
.contact-map-top-rgt ul li label {
    width: 70px;
    height: auto;
    float: left;
    font-weight: 400;
    font-size: 14px;
}
.contact-map-top-rgt ul li span {
    width: auto;
    height: auto;
    float: left;
    font-size: 14px;
}
.contact-map-wrap-google .hm-map {
    height: 500px;
    background: rgba(0,0,0,.8);
    display: block;
}
.contact-map-top-rgt ul li span a {
    font-size: 14px;
    color: #77f4e4;
}
.gender{
    min-height: 41px;
    height: 45px;
}