.body-content {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.gal-cat-wrap {
    padding-left: 0;
    padding-right: 0;
}
.gal-cat-item:first-child {
    margin-left: 0;
}
.gal-cat-item {
    padding-left: 0;
    padding-right: 0;
    width: 16.56%;
    height: 70px;
    margin-left: 1px;
    background: #e7e7e7;
}
.gal-cat-item a.selected, .gal-cat-item a:hover {
    background: url(../img/theme-bg.png) 100% 50% no-repeat #3f998e;
    color: #fff;
    opacity: .8;
    cursor: pointer;
}

.gal-cat-item a {
    width: 100%;
    height: 70px;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    font-family: latoRegular,Arial;
    color: #666;
    background: 0 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.gal-cat-mobile-drop, .tour-cat-mobile-drop {
    display: none;
}
.gal-item-group {
    display: none;
}
.gal-item-wrap {
    padding-left: 0;
    padding-right: 0;
    margin: 30px 0;
}
.gal-item-default {
    position: relative;
}
.gal-item-default {
    position: relative;
}
.gal-item {
    padding-left: 0;
    padding-right: 0;
    width: 24.8%;
    height: 234px;
    margin: 1px;
    background: url(images/loader.png) 50% 50% no-repeat #e7e7e7;
    overflow: hidden;
}
.gal-item-default span {
    width: 80%;
    height: 45%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: latoRegular,Arial;
    font-size: 32px;
    color: #181818;
    line-height: 32px;
    text-transform: uppercase;
    overflow: hidden;
}
.gal-item img {
    width: 100%;
    height: 234px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.gal-item img:hover {
    opacity: .9;
}
.greeting {
    top: 50%;
}
