.back-shadow{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: rgba(0,0,0, 0.8);
}
.pop-up-content{
    padding-top: 30px;
}
.pop-up-content img{
    width: 40%;
    margin-left: 30%;
    max-width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    z-index: 1045
}
.img-closed{
    padding: 3px;
    margin-left: -36px;
    max-width: 100%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    z-index: 1046;
    cursor: pointer;
}
.img-closed img{

    width: 30px;
    float: right;
}

.top-nav{
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%

}
.header-top-menu{
    background-color: transparent;
    padding-top: 10px;

}
.header-bottom-menu{
    margin-top: 20px;
}
.header-top-menu-item{
    color: #fff;
    border-right: 1px solid #fff;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.nav > li > a {
       padding: 4px 15px;
}
.header-bottom-menu-item{
    color: #fff;
    font-size: 12px;
}
/*.active{*/
    /*border-bottom: 2px solid #fff;*/
/*}*/
/*.header-bottom-menu-item:hover{*/
    /*border-bottom: 2px solid #fff;*/
    /*background-color: transparent;*/
/*}*/
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
    color: #fff;
}

#header-bottom-menu .navbar-nav>li {
    border-bottom: 2px solid transparent;
}
.my-nav{
    margin-bottom: 0px;
}
.navbar-nav > li > a{
    line-height: 40px;
}
.back-slider{
    position: relative;
}
.slide-img{
    width: 100%;
}
.navbar-collapse {
    padding: 0px;
}
.greeting{
    color: #fff;
    font-size: 48px;
    position: absolute;
    top: 160px;
    left: 0px;
}
.email{
    font-size: 20px;
}
.search{
    padding: 26px;
    border-radius: 0px;
    border:0px;
    font-size: 18px;
}
.search:hover{
    border-bottom: 3px solid #2A82E5;
}
.search-addon{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    border:0px;
    font-size: 14px;
    color: #fff;
    background-color: #2A82E5;
}
.smo-item{
    width: 48px;
    height: 48px;
    background-image: url(../img/sprites2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background .3s;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 3px;
}
.facebook{
    background-position: 0 0;
}
.facebook:hover{
   background-position: 0 -50px;
}
.google{
    background-position: -50px 0px;
}
.google:hover{
    background-position: -50px -50px;
}
.twitter{
    background-position: -100px 0px;
}
.twitter:hover{
    background-position: -100px -50px;
}
.mail{
    background-position: -300px 0;
}
.mail:hover{
    background-position: -300px -50px;
}
.youtube{
    background-position: -200px 0;
}
.youtube:hover{
    background-position: -200px -50px;
}
.share{
    font-size: 14px;
}
.smo{
    padding-left: 0px;
}
.scroll-bottom{
    width: 50px;
    height: 50px;
    background: url(../img/sprites.png) 0 -100px no-repeat;
    margin: 0 auto;
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    z-index: 99;
    position: relative;
    left: 0;
    right: 0;
    bottom: 70px;
}
.sri-lanka-tours{
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    padding-bottom: 20px;
    position: absolute;
    top: 107px;
    display: none;
    left: 0px;
    right: 0px;
    margin-left: 40px;
    margin-right: 20px;
}
.tour-item-sri{
    height: 250px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}
.tour-link{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 220px;
    float: left;
    padding: 0;
}
.img-item{
    position: absolute;
    width: auto;
    height: 220px;
    left: -7.5px;
    top: 0px;
}
.mask-sri{

    width: 80%;
    height: 80px;
    float: none;
    margin: 0 auto;
    display: inline-table;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: robotoRegular,Arial;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
}
.mask-inner{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}
.tour-item-main{
    width: 100%;
    height: 100%;
    float: left;
    padding: 15px;
    background: #2c2c2c;
}
.tour-item-title{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}
.tour-item-title span{
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
    color: #fff;
}
.tour-item-title span.lg{
    font-size: 46px;
    line-height: 46px;

}
.tour-item-main a.readmore {
    width: 100%;
    height: auto;
    float: left;
    background: #2a82e5;
    font-family: robotoRegular,Arial;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    margin-top: 75px;
}
.home-intro h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #666;
    padding: 40px 0;
    margin: 0;
    line-height: 25px;
}
.home-desc {
    text-align: justify;
    line-height: 26px;
    font-size: 17px;
}
.btn-readmore {
    background-color: #2a82e5;
    border-radius: 0!important;
    text-transform: uppercase;
    margin-top: 76px;
}
.why-book-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #666;
    padding: 40px 0;
    line-height: 25px;
}
.why-book-list {
    padding: 0;
}
.why-book-list ul {
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
}
.why-book-list ul li:first-child {
    margin-top: 0;
}
.why-book-list ul li {
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    list-style: none;
    text-align: left;
    margin-top: 24px;
    font-family: latoRegular,Arial;
    background: url(../img/sprites.png) -264px -113px no-repeat;
    padding-left: 35px;
    line-height: 21px;
}
.why-book-btns {
    padding: 0;
}
.why-book-btns ul {
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
}
.why-book-btns ul li:first-child {
    margin-top: 0;
}
.why-book-btns ul li:nth-child(odd) {
    background-color: #2a82e5;
}
.why-book-btns ul li {
    width: 100%;
    height: 48px;
    float: left;
    list-style: none;
    margin-top: 2px;
    background-image: url(../img/why-book-but.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.why-book-btns ul li a {
    width: 100%;
    height: 48px;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 0 15px;
}
.why-book-btns ul li:nth-child(even) {
    background-color: grey;
}
.tour-collection {
    margin-top: 45px;
    height: auto;
    overflow: hidden;
}
.tour-col {
    padding: 0;
}
.tour-item .first{
    overflow: hidden;
}
.tour-item {
    padding: 0;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden;
}
.tour-col .tour-item img {
    width: 100%;
    height: auto;
    float: left;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.tour-item .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(51,51,51,.6);
    margin: 0px;
}
.tour-item .mask a {
    width: auto;
    height: auto;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding: 20px 40px 20px 15px;
    text-decoration: none;
    background: url(../img/more-arrow.png) 93% 50% no-repeat;
}
.tour-item-lg {
    height: 659px;
    padding: 0;
    float: left;
    position: relative;
    overflow: hidden;
}
.tour-item-lg img:hover {
    opacity: .8;
}
.tour-item-lg img {
    width: 100%;
    height: 100%;
    float: left;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.tour-item-lg .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(51,51,51,.6);
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    line-height: 53px;
    padding: 0 15px;
}
.tour-item-lg .mask a {
    width: auto;
    height: auto;
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding: 20px 40px 20px 15px;
    text-decoration: none;
    background: url(../img/more-arrow.png) 93% 50% no-repeat;
}
.highlights {
    margin: 60px 0;
    background: url(../img/highlights-bg.jpg) center bottom no-repeat #faf8f4;
    padding: 40px 0;
}
.highlight-btn-wrap {
    height: auto;
    float: left;
    position: relative;
}
.highlight-title {
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 46px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #474747;
    font-family: latoBold,Arial;
    word-wrap: break-word;
}
.highlight-title span {
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    color: #666;
}
.highlight-det {
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
    color: grey;
    text-align: justify;
}
.highlights-cat {
    padding-left: 0;
}
.highlights-cat-item {
    padding-left: 0;
    padding-right: 0;
    height: 552px;
    position: relative;
    overflow: hidden;
}
.highlights-cat-item img {
    width: 100%;
    height: 552px;
    float: left;
}
.highlights-cat-item-det {
    width: 0;
    height: 552px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(42,130,229,.7);
    -webkit-transition: width 1s;
    transition: width 1s;
    color: #fff;
}
.highlights-cat-item-title {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.highlights-cat-item-desc {
    width: auto;
    height: auto;
    float: left;
    text-align: left;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
    opacity: 0;
    padding: 0 30px;
    position: absolute;
    top: 100px;
    display: block;
}
.desc-inner {
    border-top: 1px solid #fff;
    padding-top: 20px;
}
.highlights-cat-item a.findout {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 50px;
    color: #fff;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
    opacity: 0;
    padding: 0 35px 0 30px;
    font-size: 20px;
    font-family: latoBold,Arial;
    text-transform: uppercase;
    line-height: 20px;
    background: url(../img/more-arrow.png) 100% 50% no-repeat;
}
.highlight-btns {
    width: 310px;
    height: auto;
    position: absolute;
    bottom: 90px;
    left: 15px;
    padding: 0;
}
.highlight-btns a {
    width: 80%;
    min-height: 90px;
    float: left;
    padding: 12px 20px;
    background-color: grey;
    margin: 1.5px 0;
}
.btns-title {
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background: url(../img/more-arrow.png) 100% 50% no-repeat;
}
.btns-title-sub {
    width: 80%;
    height: auto;
    float: left;
    font-size: 10px;
    clear: both;
    line-height: 17px;
}
.pay-online {
    width: 110px;
    height: 25px;
    float: left;
    background: url(../img/sprites.png) -189px -303px no-repeat;
    margin: 4.5px 0;
}
.highlight-btns a:hover {
    background-color: #2a82e5;
}
.footer{
    background-color: #828F97;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-menu{
    padding-bottom: 30px;
}
.footer-menu-item{
    color: whitesmoke;
    font-size: 10px;
}
.footer-title{
    color: whitesmoke;
    line-height: 60px;
}
.contact-description{
    color: whitesmoke;
}
.copyright{
    color: whitesmoke;
    font-size: 10px;
}
.footer-smo{
    padding-left: 30%;
}
.casino-desc{
    margin-top: 100px;
    font-size: 18px;
}
.first-casino-desc{
    margin-top: 50px;
}

.video {
    margin-top: 40px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 370px;
}

.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
.services-desc{
    font-size: 18px;
    margin-top: 20px;
}
.img-ballys{
    margin-left: 43%;
    width: 14%;
    margin-top: 20px;
    max-width: 150px;
    min-width: 100px;
}
.casino-contact{
    margin-top: 70px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border: none;
}
.dropdown-header-menu{
    background: rgba(0,0,0,0.4);
}
.dropdown-header-menu>li>a{
    color: #fff;
}
.weather-time{
    margin-top: 20px;
}
.peoplewrap {
    width: 532px;
    padding: 15px 15px 5px;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 777;
    top: 40px;
    left: -187px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.peoplewrap .prow {
    padding-bottom: 8px;
    background: rgba(0,0,0,0.9);
    padding-top: 8px;
    margin-bottom: 10px;
}
.peoplewrap .prow .item {
    width: 33%;
}
.peoplewrap .prow .item {
    display: block;
    float: left;
    padding: 0 15px;
}
.paneldata .inputholder {
    width: 100%;
    display: block;
    float: left;
    vertical-align: bottom;
    padding: 0 4px;
}
.inputholder {
    position: relative;
    margin-bottom: 18px;
    margin-top: 0;
}
.incrementinputholder label {
    display: block;
    text-align: left;
    color: #FFF;
    font-family: robotoRegular,Arial;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.incrementinputholder .minus {
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    display: inline-block;
    width: 40px;
    vertical-align: top;
    height: 40px;
    background: #fff;
    line-height: 38px;
    color: #555;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    float: left;
}
.inputholder input[type=text] {
    background: #fff;
    transition: all .2s;
    border: 1px solid #555 !important;
    color: #555;
    line-height: 40px;
    font-size: 13px;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    outline: 0 !important;
    float: left;
}
.incrementinputholder .incrementinput {
    display: inline-block;
    vertical-align: top;
    text-align: center!important;
    background: #fff;
    width: calc(100% - 80px)!important;
    border-radius: 0!important;
}
.incrementinputholder .plus {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    display: inline-block;
    width: 40px;
    vertical-align: top;
    height: 40px;
    background: #fff;
    line-height: 38px;
    color: #555;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    float: left;
}
.incrementinputholder select{
    background: #fff;
    transition: all .2s;
    border: 1px solid #555 !important;
    color: #555;
    line-height: 40px;
    font-size: 13px;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    outline: 0 !important;
    float: left;
}
.inputholder .ppbtn {
    width: 127px;
    float: right;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    display: block;
    height: 40px;
    background: yellow;
    padding: 0 15px;
    color: #555;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.trav-ok-btn {
    font-size: 13px;
    padding: 0 15px;
    height: 40px;
    float: right;
    color: #fff;
    background-color: #337AB7;
    line-height: 40px;
    cursor: pointer;
    margin: 0 0 10px;
}
.people:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px;
    border-color: transparent transparent #555;
    position: absolute;
    top: 6px;
    right: 15px;
}
.people:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0;
    border-color: #555 transparent transparent;
    position: absolute;
    bottom: 9px;
    right: 15px;
}