.t2-wrap {
    /*z-index: -1;*/
    background: #efefef;
    margin-top: 40px;
}
.t2-wrap-item {
    padding: 15px;
}
.t2-wrap-item-inner-wrap {
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
}
.t2-wrap-item-img {
    height: 363px;
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
}
.t2-wrap-item-img img {
    position: absolute;
    width: auto;
    height: 363px;
    top: 0px;
    left: -8px;
    float: left;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.t2-wrap-item-img img:hover {
    opacity: .8;
}
.t2-img-arrow {
    width: 21px;
    height: 57px;
    margin: auto;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    display: block;
    background: url(../img/t2-img-arrow.png) 50% 50% no-repeat;
}
.t2-wrap-item-rgt {
    position: relative;
    height: 361px;
}
.t2-wrap-item-highlighter {
    text-transform: uppercase;
    color: #181818;
    font-size: 15px;
    line-height: 15px;
    background: #fedc00;
    margin: 20px 0;
    padding: 10px 15px;
}
.t2-most-pop {
    font-size: 35px!important;
    line-height: 30px!important;
    font-family: latoBlack,Arial;
    font-weight: 700;
    width: auto;
    padding: 20px!important;
}
.t2-most-pop-title {
    padding-top: 0;
    margin-bottom: 90px;
}
.t2-wrap-item-title {
    text-transform: uppercase;
    color: #181818;
    font-size: 20px;
    line-height: 20px;
    padding-top: 30px;
}
.t2-wrap-item-link {
    position: absolute;
    bottom: 25px;
    display: block;
}
.find-out-more {
    position: absolute;
    bottom: 20px;
    background: url(../img/more-arrow.png) 90% 50% no-repeat rgb(100,160,65);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    float: left;
    font-size: 15px;
    height: auto;
    padding: 10px 45px 10px 15px;
    text-transform: uppercase;
    margin-top: 20px;
}
.find-out-more:hover {
    text-decoration: none;
    background-color: #517688;
    color: #fff;
}
.greeting {
    top:50%;
}
.body-content p {
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
}
.highlighter-wild-tours{
    margin-left: 0;
}